extends ../layout

block content
  section(class='loginPage')
    h1= title
    if bugs !== undefined
      each message in bugs.errors
          p=message
    form(method='post' class='addArticle')
      p
          label Tytuł  
          input(type='text' name='title' value=body.title || '' class='articleField')
      p
          label(class='description') Opis  
          textarea(name='description' class='articleField')=body.description || ''
      p
          input(type='submit' value='Zapisz' class='submit')
