extends ../layout

block content
  h1= title
  form(method='post')
    p
        label Tytuł 
        input(type='text' name='title')
    p
        label Treść 
        input(type='textarea' name='description')
    p
        input(type='submit' value='Wyślij')