extends layout

block content
  h1= title
  p Witam w aplikacji opartej na MongoDB i Expressie.
  p Przed Tobą możliwość przeglądania, dodawania oraz usuwania artykułów. Dwie ostatnie opcje dostępne są wyłącznie z poziomu admina (login: admin, hasło: 1234). Koniecznie zostaw odpowiedź w quizie. 
  p Dobrej zabawy!
