doctype html

mixin route(url, name)
  li
    a(href=url class=path == url ? 'active' : '')=name

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      +route('/', 'Strona główna')
      +route('/news', 'Aktualności')
      +route('/quiz', 'Quiz')
      +route('/admin', 'Admin')
    block content
